@model IEnumerable<OnlineSurvey.ViewModel.UserCommentViewModel>

@{
    ViewBag.Title = "DisplayUserCommentData";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}


<div class="container my-5">
    <div class="row">
        <div class="col-md-10 offset-2 my-5">
            <table class="table table-responsive table-hover ">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.PostedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                       @Html.DisplayName("Action")
                    </th>
                </tr>

                @foreach (var item in Model)
                {

                    if (item.UserName == User.Identity.Name)
                    {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PostedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-rounded btn-outline-default btn-sm" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-rounded btn-outline-danger btn-sm" })
                    </td>
                </tr>
                    }

                }

            </table>
        </div>
    </div>
</div>


