@model IEnumerable<OnlineSurvey.ViewModel.UserCommentViewModel>

@{
    ViewBag.Title = "ShowData";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}
<div class="container pt-2">
    <div class="row pt-2">
        <div class="col-md-10 offset-md-2 ">

            <div class="container py-3 px-md-5 ">
                <div class="text-center font-weight-bold"><span></span>Comments @Model.Where(x => x.UserName == User.Identity.Name).Count()</div>

                <!--Section: Content-->



                @foreach (var item in Model)
                {

                    if (item.UserName == User.Identity.Name)
                    {

                        <div class="card card-cascade narrower pt-2   d-flex justify-content-start">

                            <div class="media-body my-3 mx-3">

                                <h5 class="user-name font-weight-normal chip blue lighten-4"><i class="fas fa-user-circle"></i> @item.Name</h5>

                                <!-- Rating -->
                                <div class="card-data">
                                    <ul class="list-unstyled mb-1 m-2">
                                        <li class="comment-date font-weight-bold">
                                            <i class="fas fa-tag"></i> @item.Title
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-data">
                                    <ul class="list-unstyled mb-1 m-2">
                                        <li class="comment-date font-small grey-text">
                                            <i class="far fa-clock"></i> @item.PostedDate
                                        </li>
                                    </ul>
                                </div>

                                <div class="card-data">
                                    <ul class="list-unstyled mb-1 m-2">
                                        <li class="comment-date font-weight-normal">
                                            <i class="fas fa-comments mb-2"></i>
                                            <div class="ml-3">
                                                @Html.Raw(item.Comment)
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        if (item.Replay != null && item.UserName == User.Identity.Name)
                        {
                            <div class="card card-cascade narrower py-2 pt-2 ml-5 d-flex justify-content-end">

                                <div class="media-body my-3 mx-3">

                                    <h5 class="user-name font-weight-bold chip teal lighten-2"><i class="fas fa-user-circle"></i> Admin</h5>

                                    <!-- Rating -->
                                    <div class="card-data mt-0 pt-0">
                                        <ul class="list-unstyled mb-1">
                                            <li class="comment-date font-weight-bold">
                                                <i class="fas fa-tag"></i> @item.Title
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-data">
                                        <ul class="list-unstyled mb-1">
                                            <li class="comment-date font-small grey-text">
                                                <i class="far fa-clock"></i> @item.PostedDate
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="card-data">
                                        <ul class="list-unstyled mb-1 m-2">
                                            <li class="comment-date font-weight-normal">
                                                <i class="fas fa-comments mb-2"></i>
                                                <div class="ml-3">
                                                    @Html.Raw(item.Replay)
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card card-cascade narrower py-2 pt-2 ml-5 d-flex justify-content-start">

                                <div class="media-body my-3 mx-3">

                                    <div class="card-data">
                                        <ul class="list-unstyled mb-1 m-2">
                                            <li class="comment-date font-weight-normal">
                                                <i class="fas fa-comments"></i> Replyed not yet..
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        }
                    }






                }



                <!--Section: Content-->


            </div>

        </div>
    </div>
</div>
