@model OnlineSurvey.ViewModel.UserSurveyViewModel
@{
    Layout = null;
}
<div>

    <div class="card-body card-body-cascade d-flex justify-content-center mt-n2">
        @using (Html.BeginForm("Details", "UserSurvey", FormMethod.Get, new { onsubmit = "return SubmitFormDetails(this)" }))
        {
            @Html.HiddenFor(model => model.Id)

            <!-- Table with panel -->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view view-cascade gradient-card-header mdb-color darken-3 narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                    <h6 class="mt-3 mb-1"><i class="fas fa-info"></i> Details of <span class="chip ml-2 mr-2">@Model.FirstName</span></h6>
                </div>
                <!--/Card image-->

                <div class="px-4">

                    <div class="table-wrapper my-3 ">
                        <!--Table-->
                        <table class="table table-hover mb-3 table-bordered">

                            <!--Table head-->
                            <!--Table head-->
                            <!--Table body-->
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.FirstName)</td>
                                    <td class="text-primary"> @Html.DisplayFor(model => model.FirstName)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.LastName)</td>

                                    <td class="text-primary"> @Html.DisplayFor(model => model.LastName)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.Email)</td>

                                    <td class="text-primary"> @Html.DisplayFor(model => model.Email)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.Mobile)</td>

                                    <td class="text-primary"> @Html.DisplayFor(model => model.Mobile)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.Address)</td>

                                    <td class="text-primary"> @Html.DisplayFor(model => model.Address)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.CPRNumber)</td>

                                    <td class="text-primary"> @Html.DisplayFor(model => model.CPRNumber)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.DOB)</td>

                                    <td class="text-primary"> @Html.DisplayFor(model => model.DOB)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.GenderId)</td>
                                    <td>
                                        @Html.DropDownListFor(m => m.GenderId, new SelectList(ViewBag.Gender, "Id", "Name"), "-----Select Gender ------", new { @class = "form-control disabled" })

                                    </td>
                                </tr>


                            </tbody>
                            <!--Table body-->
                        </table>
                        <!--Table-->
                    </div>

                </div>

            </div>
            <!-- Table with panel -->

        }


    </div>

</div>
