@model OnlineSurvey.ViewModel.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <link href="~/Content/jquery.multiselect.css" rel="stylesheet" />
 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <script src="~/Scripts/node_modules/lottie-player/dist/lottie-player.js"></script>
</head>
<body>
    <!--Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            @Html.Action("PartialMenu", "Home")
            <ul class="navbar-nav ml-auto">
                <li>
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
    <div class="container-fluid body-content">
        @*@Html.Action("GetBanner", "Home")*@
        @*@Html.Action("StartSurvey", "Home")*@

        @RenderBody()


    </div>
    @if (Model.IsSiteFooterActive == true)
    {
        <div class="MainFooterBackground">
            <footer class="page-footer font-small bg-transparent mb-0 pb-0">

                <!-- Footer Links -->
                <div class="container-fluid">

                    <!-- Grid row-->
                    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
                        @foreach (var item in Model.FooterLinks)
                        {
                            <div class="col-md-2 mb-3">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a href="@item.LinkUrl">@item.NavigationName</a>
                                </h6>
                            </div>
                        }
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row-->
                    <hr class="rgba-white-light" style="margin: 0 15%;">

                    <!-- Grid row-->
                    <div class="row d-flex text-center justify-content-center mb-md-0 mb-0 ">

                        <!-- Grid column -->
                        <div class="col-md-5  mt-5 mx-3 pt-5">
                            <div class="chip chip-md indigo lighten-4 z-depth-1 white-text">@Html.LabelFor(x => x.SiteTitle): @Model.SiteTitle</div>
                            <div class="chip chip-md indigo lighten-4 z-depth-1 white-text">@Html.LabelFor(x => x.SiteOwner): @Model.SiteOwner</div>
                            <div class="chip chip-md indigo lighten-4 z-depth-1 white-text">@Html.LabelFor(x => x.SiteName): @Model.SiteName</div>
                            <p style="line-height: 1.7rem">
                                @Model.SiteContent
                            </p>
                        </div>
                        <div class="col-md-5  mx-3">
                            <div class="view img-fluid">
                                <lottie-player src="@Model.AnimationUrl" background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                            </div>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row-->
                    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

                    <!-- Grid row-->
                    <div class="row pb-3">

                        <!-- Grid column -->
                        <div class="col-md-12">

                            <div class="mb-5 flex-center">

                                <!-- Facebook -->
                                <a class="btn-floating btn-md bg-transparent btn-fb" role="button"><i class="fab fa-facebook-f"></i></a>
                                <!-- Twitter -->
                                <a class="btn-floating btn-md btn-transparent btn-li" role="button"><i class="fab fa-linkedin-in"></i></a>
                                <!-- Google +-->
                                <a class="btn-floating btn-md btn-git" role="button"><i class="fab fa-github"></i></a>
                                <!--Linkedin -->
                                <a class="btn-floating btn-md btn-email" role="button"><i class="fas fa-envelope"></i></a>
                                <!--Instagram-->


                            </div>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row-->

                </div>
                <!-- Footer Links -->
                <!-- Copyright -->
                <div class="container">
                    <div class="row">

                    </div>
                </div>
                <div class="footer-copyright text-center py-3">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="">@Html.LabelFor(x => x.DesignedBy): @Model.DesignedBy</div>
                            </div>
                            <div class="col-md-4">
                                © @DateTime.Now.Year Copyright:
                                <a href="https://www.seosoft.dk/"> @Model.DesignedBy</a>
                            </div>
                            <div class="col-md-4">
                                <div class="">Site Updated date: @Model.SiteLastUpdatedDate</div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- Copyright -->

            </footer>
        </div>
    }

    <!-- Footer -->
    <!-- Footer -->
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
