@model OnlineSurvey.ViewModel.SiteSettingViewModel
@{
    Layout = null;
}
<div>

    <div class="card-body card-body-cascade d-flex justify-content-center mt-n2">
        @using (Html.BeginForm("Details", "SiteSettings", FormMethod.Get, new { onsubmit = "return SubmitFormDetails(this)" }))
        {
            @Html.HiddenFor(model => model.Id)

            <!-- Table with panel -->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view view-cascade gradient-card-header mdb-color darken-3 narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                    <h6 class="mt-3 mb-1"><i class="fas fa-info"></i> Details of <span class="chip ml-2 mr-2">@Model.SiteTitle</span></h6>
                </div>
                <!--/Card image-->

                <div class="px-4">

                    <div class="table-wrapper my-3 ">
                        <!--Table-->
                        <table class="table table-hover mb-3 table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.SiteTitle)</td>
                                    <td class="text-primary"> @Html.DisplayFor(model => model.SiteTitle)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.SiteName)</td>
                                    <td class="text-primary"> @Html.DisplayFor(model => model.SiteName)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.SiteOwner)</td>
                                    <td class="text-primary"> @Html.DisplayFor(model => model.SiteOwner)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.Sitecopyright)</td>
                                    <td class="text-primary"> @Html.DisplayFor(model => model.Sitecopyright)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.AnimationUrl)</td>
                                    <td class="text-primary"> @Html.DisplayFor(model => model.AnimationUrl)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.SiteLastUpdatedDate)</td>
                                    <td class="text-primary"> @Html.DisplayFor(model => model.SiteLastUpdatedDate)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.DesignedBy)</td>
                                    <td class="text-primary"> @Html.DisplayFor(model => model.DesignedBy)</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.IsSiteFooterActive)</td>
                                    <td class="text-primary">  @Html.CheckBoxFor(model => model.IsSiteFooterActive, new { htmlAttributes = new { @class = "form-control" }, style = "opacity: 1; padding-top:0px; margin:0; " })</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.FooterLinks)</td>
                                    <td class="text-primary">     @Html.ListBoxFor(model => model.FooterLinksId, new MultiSelectList(ViewBag.FooterData, "Id", "NavigationName"), new { @class = "form-control" })</td>
                                </tr>
                                <tr class="">
                                    <th scope="row">
                                        <a class="btn-floating btn-sm btn-info"><i class="fas fa-tag"></i></a>
                                    </th>
                                    <td class="font-weight-bold">  @Html.DisplayNameFor(model => model.SiteContent)</td>
                                    <td class="collapse" id="collapseExample"> @Html.Raw(Model.SiteContent)</td>
                                    <td>
                                        <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample"
                                                aria-expanded="false" aria-controls="collapseExample">
                                            view content
                                        </button>
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                        <!--Table-->
                    </div>

                </div>

            </div>
            <!-- Table with panel -->

        }


    </div>

</div>
