@model OnlineSurvey.ViewModel.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_auth.cshtml";
}



<div class="LoginMainBackground">
    <div class="container pt-md-5 pt-lg-5 pt-sm-5 ">
        <div class="row pt-4">
            <div class="col-md-5 pt-5 mt-5">

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })



                    <div class="view card bg-transparent z-depth-1 mt-md-5 mt-lg-5 ">

                        <h5 class="card-header white-text text-center py-4" id="cardColor">
                            <strong>Forgot password</strong>
                        </h5>

                        <!--Card content-->
                        <div class="card-body px-lg-5 pt-3 h-100">

                            <!-- Form -->
                            <form class="text-center" style="color: #757575;" action="#!">

                                <div class="form-group" id="FormText">
                                    <div class="md-form" Id="textboxcolor">
                                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <!-- Email -->
                                <!-- Password -->
                                <!-- Sign in button -->
                                <div class="form-group">
                                    <div class="">
                                        <input type="submit" class="btn btn-rounded btn-outline-white text-white btn-md" value="Email Link" />
                                    </div>
                                </div>

                                <!-- Register -->
                                <!-- Social login -->


                            </form>
                            <!-- Form -->

                        </div>

                    </div>


                }


            </div>
            <div class="col-md-5 offset-md-1 offset-lg-1  mt-5">
                <div class="img-fluid">
                    <img src="~/Content/Images/Forgot-password-amico.svg" id="ImageFit" />
                </div>
            </div>
        </div>
    </div>
</div>






<!-- Material form login -->

<!-- Material form login -->







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
