@model OnlineSurvey.ViewModel.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_auth.cshtml";
}



<div class="LoginMainBackground">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-5  pt-5">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary("", new { @class = "text-danger" })



                    <div class="view card bg-transparent z-depth-1 text-white mt-5">

                        <h5 class="card-header  white-text text-center py-4" id="cardColor">
                            <strong>Reset password</strong>
                        </h5>

                        <!--Card content-->
                        <div class="card-body px-lg-5 ml-4 pt-0 h-100 pt-2">

                            <!-- Form -->
                           

                                <!-- Email -->
                                @Html.HiddenFor(model => model.Code)
                                <div class="form-group" id="FormText">
                                    <div class="md-form" id="textboxcolor">
                                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                  

                                </div>


                                <!-- Password -->
                                <div class="form-group" id="FormText">
                                    <div class="md-form" id="textboxcolor">
                                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                  
                                </div>

                                <div class="form-group" id="FormText">
                                    <div class="md-form" id="textboxcolor">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                   
                                  
                                </div>

                                
                                <div class="form-group">
                                    <div class="">
                                        <button type="submit" class="btn btn-rounded btn-outline-white btn-md"><i class="fas fa-sign-in-alt mr-2"></i>  Reset password</button>
                                    </div>
                                </div>
                               

                                <!-- Sign in button -->
                                <!-- Register -->
                                <!-- Social login -->



                            <!-- Form -->

                        </div>

                    </div>



                   
                 
                }
            </div>
            <div class="col-md-5 offset-md-1 offset-lg-1 pt-5 mt-5">
                <div class="img-fluid">
                    <img src="~/Content/Images/Secure-Server.svg" id="ImageFit" />
                </div>
            </div>
        </div>
    </div>
</div>







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
