@model OnlineSurvey.ViewModel.VerifyCodeViewModel
@{
    ViewBag.Title = "Verify";
    Layout = "~/Views/Shared/_auth.cshtml";
}


<div class="LoginMainBackground">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-5  pt-5">



                @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("provider", @Model.Provider)
                    @Html.Hidden("rememberMe", @Model.RememberMe)


                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <!-- Material form login -->
                    <div class="view card bg-transparent z-depth-1 text-white mt-5">

                        <h5 class="card-header  white-text text-center py-4" id="cardColor">
                            <strong>Send verification code</strong>
                        </h5>

                        <!--Card content-->
                        <div class="card-body px-lg-5 ml-4 pt-0 h-100 pt-5">

                            <!-- Form -->
                            <form class="" style="color: #757575;" action="#!">
                                <p>Enter verfication code:</p>
                                <!-- Email -->
                                <div class="form-group " id="FormText">
                                    <div class="md-form" Id="textboxcolor">

                                        @Html.LabelFor(m => m.Code, new { @class = " control-label" })

                                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })

                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberBrowser, new { style = "Opacity:1;" })
                                                @Html.LabelFor(m => m.RememberBrowser)
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <!-- Password -->



                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="">
                                                <button type="submit" class="btn btn-rounded btn-outline-white btn-md"><i class="fas fa-sign-in-alt mr-2"></i> Submit</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- Sign in button -->
                                <!-- Register -->
                                <!-- Social login -->



                            </form>
                            <!-- Form -->

                        </div>

                    </div>
                    <!-- Material form login -->

                }
            </div>
            <div class="col-md-5 offset-md-1 offset-lg-1 pt-5 mt-5">
                <div class="img-fluid">
                    <img src="~/Content/Images/Login-pana.svg" id="ImageFit" />
                </div>
            </div>
        </div>
    </div>

</div>







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
